.b1{

    -fx-background-color:#f7940a;

    -fx-background-image: url("\nm.png");

    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

    -fx-background-size: 50% 50%;
    -fx-background-radius: 25px;
}

.b1:hover {
    -fx-cursor: hand;
    -fx-background-color:#c17408
}

.b1:pressed{

    -fx-background-color: #915706;

}

.b2{

    -fx-background-color:#48a8f6;

    -fx-background-image: url("\jn.png");

    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

    -fx-background-size: 50% 50%;
    -fx-background-radius: 25px;
}

.b2:hover {
    -fx-cursor: hand;
    -fx-background-color:#408ecd;

}

.b2:pressed{

    -fx-background-color: #3472a4;

}

.b3{

    -fx-background-color:#48a8f6;

    -fx-background-image: url("\cl.png");

    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

    -fx-background-size: 50% 50%;
    -fx-background-radius: 25px;
}

.b3:hover {
    -fx-cursor: hand;
    -fx-background-color:#408ecd;

}

.b3:pressed{

    -fx-background-color: #3472a4;

}

.b4{

    -fx-background-color:#48a8f6;

    -fx-background-image: url("\sr.png");

    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

    -fx-background-size: 50% 50%;
    -fx-background-radius: 25px;
}

.b4:hover {
    -fx-cursor: hand;
    -fx-background-color:#408ecd;

}

.b4:pressed{

    -fx-background-color: #3472a4;

}

.ar{

    -fx-background-color: transparent;
    -fx-border-color: transparent;

    -fx-background-image: url("\ar.png");

    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

    -fx-min-width: 15px;
    -fx-min-height: 15px;
    -fx-max-width: 15px;
    -fx-max-height: 15px;

    -fx-background-size: 70% 70%;
    -fx-background-radius: 5.5px;
}

.ar:hover {
    -fx-cursor: hand;
    -fx-background-color:#dfdfdf;

}

.ar:pressed{

    -fx-background-color: #bcbcbc;

}

.timeLabel{

    -fx-font-size: 14px;

}

.dayLabel{

    -fx-font-size: 14px;

}